#box{
	width:206px;height:206px;border-radius:100px;margin:100px auto;background:black;position:relative;
	box-shadow:2px 2px 5px #b2b2b2,2px -2px 5px #b2b2b2,-2px 2px 5px #b2b2b2,-2px -2px 5px #b2b2b2,4px 4px 6px #b87333,4px -4px 6px #b87333,-4px 4px 6px #b87333,-4px -4px 6px #b87333;
}
#dial{
	height:200px;border:3px solid #b87333;border-radius:103px;position:relative;
}
#dial span{
	width:2px;height:6px;background:#b87333;position:absolute;top:0;left:99px;
	
	transform-origin:0 100px;
	-webkit-transform-origin:0 100px;
	-moz-transform-origin:0 100px;
}
#hand{
	width:12px;height:12px;position:absolute;left:97px;top:97px;
}
#hour{
	width:5px;height:45px;background:#b87333;position:absolute;left:4px;bottom:6px;
	
	transform-origin:bottom;
	-webkit-transform-origin:bottom;
	-moz-transform-origin:bottom;
}

#min{
	width:2px;height:60px;background:#b87333;position:absolute;left:5px;bottom:6px;
	
	transform-origin:bottom;
	-webkit-transform-origin:bottom;
	-moz-transform-origin:bottom;
}
#sec{
	width:2px;height:75px;background:#b87333;position:absolute;left:5px;bottom:6px;
	
	transform-origin:bottom;
	-webkit-transform-origin:bottom;
	-moz-transform-origin:bottom;
}
#center{
	width:12px;height:12px;border-radius:12px;background:#b87333;position:absolute;top:0;left:0;
}
#dial span:nth-child(5n+1){
	height:10px;background:#b87333;
}
.gradient{
	width:206px;height:206px;border-radius:103px;position:absolute;top:0;left:0;
	
	background:linear-gradient(120deg,transparent,rgba(0,0,255,0.7));
	background:-webkit-linear-gradient(120deg,transparent,rgba(0,0,255,0.7));
	background:-moz-linear-gradient(120deg,transparent,rgba(0,0,255,0.7));
}
#win{
	background:white;width:40px;height:16px;position:absolute;left:140px;top:94px;font-size:12px;text-align:center;height:16px;
	box-shadow:2px 2px 2px#b87333 inset,-1px -1px 2px#b87333 inset;
}	